body{
    background-color: #F0FFF0;
    color: #4682b4;
    width: auto;
    height: auto;
}

.introduçao{
    background-color: #4682b4;
    color: #f0fff0;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: auto;
    height: auto;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

.grupo-cards{
    display: flex;
    flex-wrap: wrap;
}

footer{
    text-align: center;
    margin: 5%;
    font-style: italic;
    color: black;
  }

img{
    align-content: center;
    width: 90%;
    height: 50%;
    border-radius: 10px;
  }

  button{
    border-radius: 10px;
    margin-left: 45%;
    justify-content: center;
    background-color: #4682b4;
    margin-top: 40px;
    padding: 20px;
  }

  a{
    text-decoration: none;
    color: white;
  }